In [21]:
# data_processing.ipynb

#Importing required libraries
import pandas as pd
import os

#Loading the dataset

df = pd.read_excel('INX_Employee_Performance.xlsx')
df

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,E100992,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,...,2,6,3,3,6,5,0,4,No,4
1196,E100993,37,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,10,2,...,1,4,2,3,1,0,0,0,No,3
1197,E100994,50,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,28,1,...,3,20,3,3,20,8,3,8,No,3
1198,E100995,34,Female,Medical,Single,Data Science,Data Scientist,Travel_Rarely,9,3,...,2,9,3,4,8,7,7,7,No,3
1199,E100998,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,...,1,4,3,3,2,2,2,0,Yes,2

In [23]:
#Basic information
print("Dataset Shape:", df.shape)
print("Column Names:", df.columns.tolist())
df.info()

Dataset Shape: (1200, 28)
Column Names: ['EmpNumber', 'Age', 'Gender', 'EducationBackground', 'MaritalStatus', 'EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency', 'DistanceFromHome', 'EmpEducationLevel', 'EmpEnvironmentSatisfaction', 'EmpHourlyRate', 'EmpJobInvolvement', 'EmpJobLevel', 'EmpJobSatisfaction', 'NumCompaniesWorked', 'OverTime', 'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction', 'TotalWorkExperienceInYears', 'TrainingTimesLastYear', 'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany', 'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition', 'PerformanceRating']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   EmpNumber                     1200 non-null   object
 1   Age                           1200 non-null   int64
 2   Gender                        1200 non-null   object
 3   EducationBackground           1200 non-null   object
 4   MaritalStatus                 1200 non-null   object
 5   EmpDepartment                 1200 non-null   object
 6   EmpJobRole                    1200 non-null   object
 7   BusinessTravelFrequency       1200 non-null   object
 8   DistanceFromHome              1200 non-null   int64
 9   EmpEducationLevel             1200 non-null   int64
 10  EmpEnvironmentSatisfaction    1200 non-null   int64
 11  EmpHourlyRate                 1200 non-null   int64
 12  EmpJobInvolvement             1200 non-null   int64
 13  EmpJobLevel                   1200 non-null   int64
 14  EmpJobSatisfaction            1200 non-null   int64
 15  NumCompaniesWorked            1200 non-null   int64
 16  OverTime                      1200 non-null   object
 17  EmpLastSalaryHikePercent      1200 non-null   int64
 18  EmpRelationshipSatisfaction   1200 non-null   int64
 19  TotalWorkExperienceInYears    1200 non-null   int64
 20  TrainingTimesLastYear         1200 non-null   int64
 21  EmpWorkLifeBalance            1200 non-null   int64
 22  ExperienceYearsAtThisCompany  1200 non-null   int64
 23  ExperienceYearsInCurrentRole  1200 non-null   int64
 24  YearsSinceLastPromotion       1200 non-null   int64
 25  YearsWithCurrManager          1200 non-null   int64
 26  Attrition                     1200 non-null   object
 27  PerformanceRating             1200 non-null   int64
dtypes: int64(19), object(9)
memory usage: 262.6+ KB

In [25]:
#Checking for missing values
missing_values = df.isnull().sum()
print("\nMissing Values:\n", missing_values)

Missing Values:
 EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

In [27]:
# Dropping columns with high missing values (if any)
threshold = 0.4  # 40% missing
to_drop = [col for col in df.columns if df[col].isnull().mean() > threshold]
df_cleaned = df.drop(columns=to_drop)
print('df_cleaned',df_cleaned)

df_cleaned      EmpNumber  Age  Gender EducationBackground MaritalStatus  \
0     E1001000   32    Male           Marketing        Single
1     E1001006   47    Male           Marketing        Single
2     E1001007   40    Male       Life Sciences       Married
3     E1001009   41    Male     Human Resources      Divorced
4     E1001010   60    Male           Marketing        Single
...        ...  ...     ...                 ...           ...
1195   E100992   27  Female             Medical      Divorced
1196   E100993   37    Male       Life Sciences        Single
1197   E100994   50    Male             Medical       Married
1198   E100995   34  Female             Medical        Single
1199   E100998   24  Female       Life Sciences        Single

        EmpDepartment        EmpJobRole BusinessTravelFrequency  \
0               Sales   Sales Executive           Travel_Rarely
1               Sales   Sales Executive           Travel_Rarely
2               Sales   Sales Executive       Travel_Frequently
3     Human Resources           Manager           Travel_Rarely
4               Sales   Sales Executive           Travel_Rarely
...               ...               ...                     ...
1195            Sales   Sales Executive       Travel_Frequently
1196      Development  Senior Developer           Travel_Rarely
1197      Development  Senior Developer           Travel_Rarely
1198     Data Science    Data Scientist           Travel_Rarely
1199            Sales   Sales Executive           Travel_Rarely

      DistanceFromHome  EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                   10                  3  ...                            4
1                   14                  4  ...                            4
2                    5                  4  ...                            3
3                   10                  4  ...                            2
4                   16                  4  ...                            4
...                ...                ...  ...                          ...
1195                 3                  1  ...                            2
1196                10                  2  ...                            1
1197                28                  1  ...                            3
1198                 9                  3  ...                            2
1199                 3                  2  ...                            1

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                             10                      2                   2
1                             20                      2                   3
2                             20                      2                   3
3                             23                      2                   2
4                             10                      1                   3
...                          ...                    ...                 ...
1195                           6                      3                   3
1196                           4                      2                   3
1197                          20                      3                   3
1198                           9                      3                   4
1199                           4                      3                   3

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                               10                             7
1                                7                             7
2                               18                            13
3                               21                             6
4                                2                             2
...                            ...                           ...
1195                             6                             5
1196                             1                             0
1197                            20                             8
1198                             8                             7
1199                             2                             2

     YearsSinceLastPromotion  YearsWithCurrManager  Attrition  \
0                          0                     8         No
1                          1                     7         No
2                          1                    12         No
3                         12                     6         No
4                          2                     2         No
...                      ...                   ...        ...
1195                       0                     4         No
1196                       0                     0         No
1197                       3                     8         No
1198                       7                     7         No
1199                       2                     0        Yes

      PerformanceRating
0                     3
1                     3
2                     4
3                     3
4                     3
...                 ...
1195                  4
1196                  3
1197                  3
1198                  3
1199                  2

[1200 rows x 28 columns]

In [35]:
import pandas as pd
import os

# Set full paths
base_dir = r"C:\Users\Admin\Desktop\INX_Employee_Performance_Project"
input_file = os.path.join(base_dir, "data", "raw", "INX_Employee_Performance.xlsx")
output_dir = os.path.join(base_dir, "data", "processed")

# ✅ Ensure the processed directory exists
os.makedirs(output_dir, exist_ok=True)

# Load data
df = pd.read_excel(input_file)
print("✅ Raw data loaded successfully.")

✅ Raw data loaded successfully.

In [37]:
# Clean data
# Drop columns with more than 40% missing values
threshold = 0.4
cols_to_drop = [col for col in df.columns if df[col].isnull().mean() > threshold]
df_cleaned = df.drop(columns=cols_to_drop)

# Fill remaining missing values
df_cleaned = df_cleaned.ffill()

# Save cleaned data
output_file = os.path.join(output_dir, "cleaned_employee_data.csv")
df_cleaned.to_csv(output_file, index=False)

print(f"✅ Cleaned data saved at: {output_file}")

✅ Cleaned data saved at: C:\Users\Admin\Desktop\INX_Employee_Performance_Project\data\processed\cleaned_employee_data.csv